**/node_modules/

.idea/.name

.idea/ImageManager.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.idea/vcs.xml

Gui/views/imageSnap/.idea/workspace.xml

Gui/views/imageSnap/.idea/workspace.xml

*.user

Gui/debug/

.vscode

Gui/release/

Gui/x64

/ImageManager.pro.user

*.user
ImageManager.VC.db

Gui/Gui.vcxproj.filters