**/node_modules/

.idea/.name

.idea/ImageManager.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.idea/vcs.xml

Gui/views/imageSnap/.idea/workspace.xml

Gui/views/imageSnap/.idea/workspace.xml

*.user
